/* <div className="container mx-auto 
flex px-10 py-20 md:flex-row flex-col items-center"> */

.about__container {
  margin-left: 0;
  margin-right: 0;
  display: flex;
}
@media (min-width: 1024px) {
  .info {
    flex-grow: 1;
    padding: 6rem;
  }
}
@media (min-width: 768px) {
  .info {
    width: 50%;
    padding: 4rem;
  }
}

.introduction {
}
